* {
    margin: 0px;
    padding: 0px;
    font-family: 'Overpass';
    color: white;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 400;
}

p {
    font-size: 15px;
    color: hsl(216, 12%, 54%);
    line-height: 23px;
}

.rating-buttons > * {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: hsl(216, 12%, 54%);
    background-color: hsl(213, 19%, 18%);
    border: none;

}

.rating-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.submit {
    background-color: hsl(25, 97%, 53%);
    border: none;
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

}

main {
    background-color:  hsl(213, 19%, 18%);
    width: calc(350px - 20px);
    height: calc(375px - 20px);
    margin-top: calc((100vh - 85vw)/2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
}

img {
    width: 15px;
    background-color: hsla(213, 19%, 18%, 0.9);
    border-radius: 30px;
    padding: 12px;
}